.wrap{
    padding: 50px;
    background: #45f3ff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}




.moviesDiv{
    box-sizing: border-box;
    width: 90%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 30px;

}



