.card{
    width: 90%;
    display: flex;
    gap: 20px;
    border-bottom: 2px solid orangered;
    margin-bottom: 20px;
    padding: 10px   ;
}

.card img{
    width: 200px;
}

.infoBlock{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-around;
}

.infoBlock h4{
    color: snow;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
}

.card h3{
    font-style: italic;
    color: snow;
    font-size: 24px;
}

.card p{
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: rgba(255,255,255,0.6);
}

.btnDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.btnDiv button{
    width: 150px;
    padding:10px;
    background: rgba(255,255,255,0.3);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.btnDiv button:active{
    transform: translateY(-2px);
}

