.card{
    box-sizing: border-box;
    width: 23%;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    background: azure;
    border-radius: 20px;
}

.imgDiv{
    height: 60%;
}

.img {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}