.wrap{
    box-sizing: border-box;
    width: 80%;
    margin: 50px auto;
    background: #1a1b1f;
    padding: 30px;
    border-radius: 20px;
}

.wrap h2{
    text-align: center;
    font-size: 30px;
    color: orangered;
    text-decoration: underline;
    margin-bottom: 50px;
}
