@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

.wrap{
    height: 125px;
}

.header{
    width: 100%;
    height: 110px;
    padding: 20px 0px 0px;
    background: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100000;
}
.logo{
    font-family: 'Inspiration', cursive;
    font-size: 64px;
    font-weight: 700;
    color: #45f3ff;

}
.input{
    width: 200px;
    background: rgba(0,0,0,0.1);
    height: 30px;
    outline: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;

}


.inputBlock{
    position: relative;
}

.searchIcon{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;

}
.userDiv{
    width: 80px;
    height: 40px;
    background: aqua;
}


