@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

.wrap{
    height: 125px;
}

.header{
    width: 100%;
    height: 110px;
    padding: 20px 0 0;
    background: var(--minor-backround-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100000;
    border-bottom: 2px solid var(--maine-color);
}
.logo{
    font-family: 'Inspiration', cursive;
    font-size: 64px;
    font-weight: 500;
    color: var(--maine-color);
    cursor: pointer;

}
.input{
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 2px solid;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;

}


.searchIcon{
    width: 10px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 10;
    color: var(--maine-color);

}

.searchIcon:hover{
    cursor: pointer;
}
.userDiv {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 8%;
}

.userIcon{
    color: var(--minor-color);
    font-size: 40px;
}

.userDiv p{
    font-size: 16px;
    color: var(--minor-color);
    cursor: pointer;
}


.inputBlock{
    position: relative;
    width: 200px;
}

.inputBlock input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    color: var(--background-color);
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBlock span{
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: var(--maine-color);
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBlock input:valid ~ span,
.inputBlock input:focus ~ span{
    color: var(--maine-color);
    transform: translateX(-8px) translateY(-34px);
    font-size: 0.75em;
}

.inputBlock input:valid ~ .searchIcon,
.inputBlock input:focus ~ .searchIcon{
    color: var(--minor-backround-color);
}

.inputBlock i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--maine-color);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBlock input:valid ~ i,
.inputBlock input:focus ~ i{
    height: 40px;
    z-index: 0;

}

@media (max-width: 1000px) {
    .logo{
        font-size: 30px;
    }
    .inputBlock{
        width: 130px;
    }
}


