.block{
    margin: 50px auto;
    flex: 1 1 auto;
    width: 60%;
    position: relative;
    background: var(--minor-backround-color) ;
    border-radius: 20px;
    overflow: hidden;
}
.backDrop{
    overflow: hidden;
    width: 100%;
    position: relative;

}
.backDrop img{
    width: 100%;
    height: 100%;
}

.poster{
    width: 130px;
    height: 190px;
    border-radius: 10px;
    overflow: hidden;
}
.poster img{
    width: 100%;
    height: 100%;
}

.posterBlock{
    position: absolute;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 200px;
    left: 5%;
    bottom: 5%;

}

.infoBlock{
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    border-radius: 20px;
}

.title{
    margin-left: 20px;
    color: var(--maine-text-color);
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}


.buttonsDiv{
    margin: 20px;
    display: flex;
    gap: 30px;
    width: 100%;
}
.buttonsDiv button{
    width: 85px;
    height: 45px;
    background: transparent;
    border: 2px solid var(--maine-text-color);
    color: var(--maine-text-color);
    font-size: 20px;
    border-radius: 4px;
    transition: 0.3s;
}

.buttonsDiv p{
    padding: 0;
    margin: 0;
    width: 85px;
    text-align: center;
    font-style: italic;
    color: var(--maine-text-color);
}

.buttonsDiv button:hover{
    cursor: pointer;
    color: var(--maine-color);
    border: 2px solid var(--maine-color);
}

.allInformation{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.overview{
    width: 100%;
    background: var(--background-color);
    color: var(--maine-text-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.allInformation{
    padding: 30px;
    box-sizing: border-box;
}

.allInformation h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--maine-text-color);
}


.allInformation p {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: var(--maine-text-color);

}
.allInformation i{
    width: 100%;
    height: 2px;
    background: var(--maine-color);
}

.genresDiv{
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: var(--maine-text-color);
    margin-bottom: 15px;
}

.reting{
    position: relative;
    width: 100px;
    border: 1px solid;
    background: rgba(255,255,255,0.4);
    padding: 1px;
    border-radius: 5px;
}
.retingDiv p{
    display: inline;
    padding: 10px;
    position: absolute;
    right: -40px;
    top: -17px;
}


.retingDiv{
    margin-bottom: 15px;
    display: inline;
}

.chosed{
    color: var(--maine-color);
}


@media (max-width: 1000px){
    .posterBlock img{
        display: none;
        width: 0;
        height: 0;
    }
    .infoBlock{
        width: 100%;
    }
    .posterBlock{
        height: 150px;
        left: -100px;
        bottom: -20px;
    }
    .title{
        font-size: 20px;
    }
    .buttonsDiv button{
        height: 30px;
        width: 50px;
    }
    .buttonsDiv p {
        font-size: 12px;
        width: 50px;
    }
}